{% extends 'admin/adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/admin_add_fund_schemes_post/" enctype="multipart/form-data">
  <table class="table table-bordered table-hover" >

        {% csrf_token %}
    <tr>
      <th>Category</th>
      <td>
          <select name="cid" class="form-control">
              {% for i in data %}
                  <option value="{{ i.id }}">{{ i.name }}</option>
              {% endfor %}

          </select>

      </td>
    </tr>
    <tr>
      <th>Title</th>
      <td>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <th>Description</th>
      <td>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
      <tr>
      <th>Total Amount (eth)</th>
      <td>
      <input type="number" min="0.01" step="any" placeholder="Currency Ethereum: Ex:- 0.01" name="textfield7" id="textfield6" class="form-control" required/></td>
    </tr>
      <tr>
      <th>Total Count</th>
      <td>
      <input type="number" min="1" step="any" name="textfield6" id="textfield6" class="form-control" required/></td>
    </tr>
     <tr>
      <th>File</th>
      <td>
      <input type="file" name="photo" id="photo" class="form-control" required/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
