<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/myapp/add_donation_request/">Add Donation request</a><br>
<a href="/myapp/view_donationreq/">View donation request</a><br>
{#<a href="/viewandapprove">View and approve pending</a><br> d#}
<a href="/myapp/view_user/">View users</a><br>
<a href="/myapp/view_complaints/">View Complaint Reply</a><br>
{#<a href="/viewandapprove_accept">View and approve accepted</a><br> d#}
{#<a href="/viewandapprove_reject">View and approve rejected</a><br>#}
<a href="/myapp/admin_change_password/">Change password</a><br>
{#<a href="/orgviewdonationrequest">View organization donation request</a><br> d#}

{#<a href="/view_org_approved_donationrequest">View approved organization donation request</a><br> d#}


</body>
</html>